/*Notes: .className, #idName, tagName*/

/*Reset*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    /* outline: 0; */
    /* font-weight: normal; */
}

:root {
    --narrowWidth: 720px;
    --linkColor: #004544;
    --linkColorHover: #006f66;
    --linkColorCarousel: #c0ffee;
    --linkColorCarouselHover: #007061;
    --imageBorder: #7c7c7c;
    --excerptBackground: #c5eae6;
    --underlineThickness: 1px;
    --underlineThicknessMobile: 1px;
    --spaceBlockHeight: calc(18vh + 100px);
    --spaceBlockHeightMobile: calc(24vh + 100px);
}

body {
    font-family: 'Vollkorn SC', Garamond, serif;
    font-size: 100%;
    line-height: 2em;
    background: #fffef8;
}

/* focus */
a:focus {
    color: var(--linkColorHover);
}

nav {
    text-align: center;
    margin-top: 4vh;
    line-height: 2.5em;
    margin-bottom: -1rem;
    /* background-color: azure; */
}

nav a {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    border-bottom: none;
}

#topName {
    font-family: 'Vollkorn SC', Garamond, serif;
    font-size: 2rem;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 0;
}

.active {
    /* background-color: rgb(198, 241, 188); */
    font-weight: 700;
    border-bottom: var(--underlineThickness) solid var(--linkColor);
}

a {
    text-decoration: none;
    border-bottom: var(--underlineThickness) solid var(--linkColor);

    /*font-weight: bold;*/
    color: var(--linkColor);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}

a:hover {
    color: var(--linkColorHover);
    border-bottom: var(--underlineThickness) solid var(--linkColorHover);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}

.diamond {
    display: block;
    font-family: monospace;
    font-size: 1.5rem;
    /* font-variant: small-caps; */
    text-align: center;
    margin: auto;
    /* background-color: lavender; */
}

hr {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 1.25px;
    width: calc(var(--narrowWidth)*1.06);
    max-width: 90vw;
    background: #000;
    background-image: linear-gradient(to right, #fff, #000, #fff);
}

.narrow {
    /* background-color: antiquewhite; */
    max-width: var(--narrowWidth);
    margin: auto;
    padding-left: 4vh;
    padding-right: 4vh;
}

h1 {
    font-family: Garamond;
    font-weight: lighter;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: .75rem;
    /* white-space: nowrap; */
    /* font-size: 2rem; */
    /* font-weight: 400; */
    /* padding-bottom: 1rem; */
    /* text-align: center; */
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    /* margin: 0 0 0 0; */
}

/*About page section headings*/
h2 {
    font-family: 'Vollkorn SC', Garamond, serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2.75rem;
    padding-bottom: .75rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    /* white-space: nowrap; */
    padding-top: 2.5rem;
    padding-bottom: .75rem;
}

/*Line break to display only on mobile*/
.break {
    display: none;
}

/*socialDiamonds separate social media links on about page*/
.socialDiamond {
    font-family: monospace;
    font-variant: small-caps;
}

/*Diamond indicators on buttons*/
.indicator {
    font-family: monospace;
    font-size: 1.25rem;
    opacity: 0;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    transition: opacity .25s;
}

p {
    font-family: Garamond, serif;
    font-size: 1.25rem;
    text-indent: 3rem;
}

p.noIndent {
    text-indent: 0;
}

.centeredText {
    text-align: center;
}

.altText {
    font-style: italic;
}

ul {
    list-style-type: none;
    padding-left: 3rem;
    position: relative;
}

ul li:before {
    content: "\29eb";
    position: absolute;
    
    /*Halfway between margin and list item, with approximate sizing for half of lozenge*/
    padding-left: 1.4rem;
    left: 0;
}

ol li {
    /* to get numbers aligned with diamond bullets and text aligned with paragraph indentation */
    margin-left: 2.6rem;
    padding-left: .4rem;
}

li {
    font-family: Garamond, serif;
    font-size: 1.25rem;
}

.listImage {
    margin: 1rem 0 1rem 0;
    max-width: 600px;
    border: solid var(--imageBorder);
    border-width: .1rem;
}

pre {
    white-space: pre-line;
    margin: 1rem 0 1rem 0;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background: var(--excerptBackground);
    /* border: solid #000; */
    /* border-width: .1rem; */
    line-height: 1.5rem;
}

.social a, .social a:hover {
    border-bottom: 0;
}

.emailA {
    margin-right: 2em;
}

.fab {
    margin: 0 .2em 0 .2em;
}

#logoSign {
    display: block;
    padding-bottom: 2em;
    padding-top: 3em;
    height: 80px;
    width: auto;
    margin: auto;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}

#logo {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    margin: auto;
    z-index: 10;

    -webkit-filter: invert(0%);

            filter: invert(0%);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

#logo:hover {
    /*Change cursor to something clickable-looking on hover*/
    cursor: pointer;

    -webkit-filter: invert(100%);

            filter: invert(100%);
}

#logo.inverted {
    -webkit-filter: invert(100%);
            filter: invert(100%);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

footer {
    margin-top: 2rem;
    margin-bottom: 4vh;
}

.iframeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #f9f9f9;*/
    /*max-height: 712px;*/
}

#kofiframe {
    /*background appears to be mandated by kofi iframe*/
    background: #f9f9f9;
    border-radius: 20px;
    max-width: 500px;
    max-height: 570px;
    padding-top: 2rem;
}

.centerIg {
    /*background: Red;*/
    /*width: 2000px;*/
    /*max-width: 1000px;*/
    /*margin: auto;*/
    margin: 1em 0 2em 0;
}

.instagram-media {
    /*width: 10px !important;*/
    /*height: 100px !important;*/
    margin: auto !important;
}

.HoverCard {
    display: none;
}

/* Remove clutter */
div[class="HoverCard"], div[class="SocialProof"], div[class="Feedback"],
span[class="FollowerCountText"], a[class="ViewProfileButton"],
a[class="CaptionCommentsExpand"] { display: none !important; }

.instagram-media .HeaderCta {
    display: none !important;
}

/*Gives room for the logo when page is scrolled all the way down*/
.spaceBlock {
    height: var(--spaceBlockHeight);
}

/*Phone in portrait orientation*/
@media only screen and (max-width: 600px) {
    
    nav a {
        font-weight: normal;
        font-size: 1.25rem;
    }

    #topName {
        font-size: 1.75rem;
        font-weight: 600;
    }

    .listImage {
        max-width: 75vw;
    }

    .fab {
        margin-top: 0;
    }

    h2, h3 {
        font-size: 1rem;
    }
    
    h4, p, li, button {
        font-size: 100%;
        /*line-height: 144%;*/
    }

    a, #about .pieceTitle {
        text-decoration: none;
        border-bottom: var(--underlineThicknessMobile) solid var(--linkColor);

        font-weight: bold;
        color: var(--linkColor);
        -webkit-transition: .25s;
        -moz-transition: .25s;
        transition: .25s;
    }

    /*Line breaks originally for social links*/
    .break {
        display: inline;
    }
    
    /*socialDiamonds separate social media links on about page*/
    .socialDiamond {
        display: none;
    }
    
    #logo {
        max-height: 12.5%;
        bottom: 12.5%;
    }

    .spaceBlock {
        height: var(--spaceBlockHeightMobile);
    }
}

/*Phone in landscape orientation*/
@media only screen and (max-width: 800px) {
    h3, h4, p, li, button {
        font-size: 100%;
        /*line-height: 144%;*/
    }

    #logo {
        max-height: 16%;
        bottom: 12.5%;
    }
}
