/*Notes: .className, #idName, tagName*/

/*Reset*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    /* outline: 0; */
    /* font-weight: normal; */
}

:root {
    --linkColor: #004544;
    --linkColorHover: #27d6d6;
    --linkColorCarousel: #c0ffee;
    --linkColorCarouselHover: #007061;
    --underlineThickness: 1px;
    --underlineThicknessMobile: 1px;
    --spaceBlockHeight: calc(18vh + 100px);
    --spaceBlockHeightMobile: calc(24vh + 100px);
}

body {
    font-family: 'Vollkorn SC', Garamond, serif;
    font-size: 100%;
    line-height: 2em;
}

/* focus */
a:focus {
    color: var(--linkColorHover);
}

nav {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 2em;
}

nav a {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    border-bottom: none;
}

.topName {
    font-size: 2rem;
}

.narrowed {
    background-color: antiquewhite;
    max-width: 720px;
    margin: auto;
}

@media (max-width: 760px) {
    body {
        background-color: rgb(211, 176, 176);
        padding-top: 2vh;
        padding-left: 2vh;
        padding-right: 2vh;
    }
}

/*Main name*/
h1 {
    font-size: 2.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
    text-align: center;
}

/*About page section headings*/
h2 {
    font-family: 'Vollkorn SC', Garamond, serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 2rem;
}

#about h3 {
    font-size: 1.25rem;
    font-weight: 400;
    white-space: nowrap;
    padding-top: 2rem;
}

/*Carousel captions*/
h3 {
    font-size: 1.25rem;
    font-weight: 700;
    white-space: nowrap;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
    white-space: nowrap;
}

/*Line break to display only on mobile*/
.break {
    display: none;
}

/*socialDiamonds separate social media links on about page*/
.diamond, .socialDiamond {
    font-family: monospace;
    font-variant: small-caps;
}

/*Diamond indicators on buttons*/
.indicator {
    font-family: monospace;
    font-size: 1.25rem;
    opacity: 0;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    transition: opacity .25s;
}

p {
    font-family: Garamond, serif;
    font-size: 1.25rem;
    text-indent: 3rem;
}

p.noIndent {
    text-indent: 0;
}

.centeredText {
    text-align: center;
}

.altText {
    font-style: italic;
}

ul {
    list-style-type: none;
    padding-left: 3rem;
    position: relative;
}

ul li:before {
    content: "\29eb";
    position: absolute;
    
    /*Halfway between margin and list item, with approximate sizing for half of lozenge*/
    padding-left: 1.4rem;
    left: 0;
}

ol {
    padding-left: 2.4rem;
}

ol li {
    text-indent: 0.6rem; /*This needs to result in 3rem to line up with indentations*/
}

li {
    font-family: Garamond, serif;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    border-bottom: var(--underlineThickness) solid var(--linkColor);

    /*font-weight: bold;*/
    color: var(--linkColor);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}

.social a, .social a:hover {
    border-bottom: 0;
}

.emailA {
    margin-right: 2em;
}

.fab {
    margin: 0 .2em 0 .2em;
}

a:hover {
    color: var(--linkColorHover);
    border-bottom: var(--underlineThickness) solid var(--linkColorHover);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}

#logoSign {
    display: block;
    padding-bottom: 2em;
    padding-top: 2em;
    height: 80px;
    width: auto;
    margin: auto;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}

#logo {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    margin: auto;
    z-index: 10;

    -webkit-filter: invert(0%);

            filter: invert(0%);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

#logo:hover {
    /*Change cursor to something clickable-looking on hover*/
    cursor: pointer;

    -webkit-filter: invert(100%);

            filter: invert(100%);
}

#logo.inverted {
    -webkit-filter: invert(100%);
            filter: invert(100%);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.iframeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #f9f9f9;*/
    /*max-height: 712px;*/
}

#kofiframe {
    /*background appears to be mandated by kofi iframe*/
    background: #f9f9f9;

    padding-top: 1em;
    max-height: 580px;
}

.centerIg {
    /*background: Red;*/
    /*width: 2000px;*/
    /*max-width: 1000px;*/
    /*margin: auto;*/
    margin: 1em 0 2em 0;
}

.instagram-media {
    /*width: 10px !important;*/
    /*height: 100px !important;*/
    margin: auto !important;
}

.HoverCard {
    display: none;
}

/* Remove clutter */
div[class="HoverCard"], div[class="SocialProof"], div[class="Feedback"],
span[class="FollowerCountText"], a[class="ViewProfileButton"],
a[class="CaptionCommentsExpand"] { display: none !important; }

.instagram-media .HeaderCta {
    display: none !important;
}

/*Gives room for the logo when page is scrolled all the way down*/
.spaceBlock {
    height: var(--spaceBlockHeight);
}

/*Phone in portrait orientation*/
@media only screen and (max-width: 600px) {
    
    /* Letterhead */
    h1 {
        padding-bottom: .2em;
    }

    .fab {
        margin-top: 0;
    }


    h3, h4, p, li, button {
        font-size: 100%;
        /*line-height: 144%;*/
    }

    a, #about .pieceTitle {
        text-decoration: none;
        border-bottom: var(--underlineThicknessMobile) solid var(--linkColor);

        font-weight: bold;
        color: var(--linkColor);
        -webkit-transition: .25s;
        -moz-transition: .25s;
        transition: .25s;
    }

    /*Line breaks originally for social links*/
    .break {
        /*display: inline;*/
    }
    
    /*socialDiamonds separate social media links on about page*/
    .socialDiamond {
        display: none;
    }
    
    #logo {
        max-height: 12.5%;
        bottom: 12.5%;
    }

    .spaceBlock {
        height: var(--spaceBlockHeightMobile);
    }
}

/*Phone in landscape orientation*/
@media only screen and (max-width: 800px) {
    h3, h4, p, li, button {
        font-size: 100%;
        /*line-height: 144%;*/
    }

    #logo {
        max-height: 16%;
        bottom: 12.5%;
    }
}
