<p class="noIndent centeredText social">
  Email: <a href="mailto:_@aubrielee.com" target="_blank" class="emailA" >_@aubrielee.com</a>
  <br class="break">
<!--   <span class="socialDiamond">&blacklozenge;</span> -->
  <a href="https://www.patreon.com/aubrielee" target="_blank"><i class="fab fa-patreon" title="patreon"></i></a>
  <!-- <span class="socialDiamond">&blacklozenge;</span> -->
  <a href="https://verse.aubrielee.com/@Aubrie" target="_blank"><i class="fab fa-mastodon" title="mastodon"></i></a>
  <!-- <span class="socialDiamond">&blacklozenge;</span> -->
  <!-- <br class="break"> -->
  <a href="https://www.instagram.com/aubrieality/" target="_blank"><i class="fab fa-instagram" title="instagram"></i></a>                
  <!-- <span class="socialDiamond">&blacklozenge;</span> -->
  <a href="https://www.youtube.com/AubrieLee" target="_blank" ><i class="fa fa-youtube-play" title="youtube"></i></a>
  <!-- <span class="socialDiamond">&blacklozenge;</span> -->
  <!-- <br class="break"> -->
  <a href="https://www.linkedin.com/in/aubrielee/" target="_blank" ><i class="fab fa-linkedin-in" title="LinkedIn"></i></a>
  <!-- <span class="socialDiamond">&blacklozenge;</span> -->
  <!-- <br class="break"> -->
  <a href="https://twitter.com/Aubrie_Lee" target="_blank" ><i class="fab fa-twitter" title="twitter"></i></a>
  <a href="https://www.facebook.com/Aubrieality" target="_blank" ><i class="fab fa-facebook-f" title="facebook"></i></a>
</p>
