<section>
  <h2>like my work?</h2>
  <p>I appreciate support of any kind, whether that’s sharing this page, telling me what you thought, or treating me to something yummy:</p>
  </br>
  <p>Venmo: <a href="https://account.venmo.com/u/aubrie"><b>@aubrie</b></a></p>
  <p>PayPal: <a href="https://www.paypal.com/paypalme/aubrieality"><b>aubrieality</b></a></bold></p>
  <p>Kofi:</p>
  <div class='iframeDiv'>
    <iframe id='kofiframe' src='https://ko-fi.com/aubrielee/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;' height='712' title='aubrielee'></iframe>
  </div>
</section>