<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/lone.css">
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section class="loneArticle">
      {{ content }}

        <div class="">
        	<p>I appreciate support of any kind, whether that's sharing this article or treating me to something yummy:</p>
        	</br>
        	<p>Venmo: <strong>@aubrie</strong></p>
        	<p>Kofi:</p>
        	<div class='iframeDiv'>
      			<iframe id='kofiframe' src='https://ko-fi.com/aubrielee/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;' height='712' title='aubrielee'></iframe>
      		</div>
    	</div>
    </section>
  </body>
</html>
